@import-normalize; // css reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

.app {
  overflow: auto;

  /*修改滚动条样式*/
  &::-webkit-scrollbar {
    width: 10px; // 横向滚动条宽度
    height: 10px; // 纵向滚动条高度
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 154, 154);
  }
}

body {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.w980 {
  width: 980px;
  margin: 0 auto;
}

// 回到顶部样式
.back-to-top {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: rgba(194, 12, 12, 0.5);
  color: #fff;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(194, 12, 12, 1);
  }
}
