@import-normalize; // css reset
@import './styles/mixin';

*,
span,
h3,
ul,
ol,
p,
div,
video,
audio {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include scrollBar(6px);
}

.ant-cascader-menu {
  @include scrollBar(3px);
}

body {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;

  // 全局css变量
  --main-color: #c20c0c;
  --primary-color: #1890ff;
  --mv-color: #e13f3f;
  --border: 1px solid #d3d3d3;
  --bgc-active: #f7f7f7;
  --bgc-hover: #f2f2f2;
}

ul,
ol {
  list-style: none;
}

video {
  outline: none;
}

.w980 {
  width: 980px;
  margin: 0 auto;
}

// 回到顶部样式
.back-to-top {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: rgba(194, 12, 12, 0.5);
  color: #fff;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(194, 12, 12, 1);
  }
}

// 单行溢出隐藏
.ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 标题
.common-title {
  height: 42px;
  line-height: 40px;
  border-bottom: 2px solid #c20c0c;
}

.fz-24 {
  font-size: 24px;
}
