.LyricItem {
  .songInfo {
    height: 43px;
    line-height: 43px;
  }

  .lyricWrapper {
    padding: 15px 0 15px 50px;

    .lyricsItem {
      color: #666;
      line-height: 23px;
      word-wrap: break-word;
      word-break: break-all;

      :global {
        b {
          color: #0c73c2;
        }
      }
    }

    .openBtn {
      padding-top: 12px;
      user-select: none;

      .span {
        cursor: pointer;
      }
    }
  }
}
