.HotRecommend {
  // 标题
  .title {
    height: 35px;
    padding: 0 10px 0 34px;
    border-bottom: 2px solid #c10d0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('~assets/img/sprite_02.png') -225px -156px no-repeat;
    margin-bottom: 20px;

    .left {
      display: flex;
      align-items: center;

      :global {
        .key {
          font-size: 20px;
          padding-right: 15px;
          cursor: pointer;
        }

        .list {
          color: #666666;

          .line {
            padding: 0 10px;
          }

          span:not(.line) {
            cursor: pointer;
          }
        }
      }
    }

    .right {
      padding-right: 12px;
      cursor: pointer;
      background: url('~assets/img/sprite_02.png') 25px -238px no-repeat;
    }
  }

  // 热门推荐列表
  .recommendList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
