.RecTopList {
  // 标题
  .title {
    height: 35px;
    padding: 0 10px 0 34px;
    border-bottom: 2px solid #c10d0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('~assets/img/sprite_02.png') -225px -156px no-repeat;
    margin-bottom: 20px;

    .left {
      display: flex;
      align-items: center;

      :global {
        .key {
          font-size: 20px;
          padding-right: 15px;
          cursor: pointer;
        }
      }
    }

    .right {
      padding-right: 12px;
      cursor: pointer;
      background: url('~assets/img/sprite_02.png') 25px -238px no-repeat;
    }
  }

  // 榜单
  .toplist {
    display: flex;
    height: 472px;
    background: url('~assets/img/recommend-top-bg.png') no-repeat;

    :global {
      .logo {
        height: 120px;
        padding: 20px 0 0 19px;
        display: flex;
        position: relative;
        left: 1px;
        top: 0;

        img {
          width: 80px;
          height: 80px;
          cursor: pointer;
        }

        .text {
          margin: 6px 0 0 10px;

          .name {
            color: #333;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          .btns {
            margin-top: 10px;

            .icon {
              margin-right: 10px;
              font-size: 24px;
              color: #aaa;
              transition: all 0.3s;
              cursor: pointer;

              &:hover {
                color: #666;
              }
            }
          }
        }
      }

      // list
      .list {
        .list-item {
          height: 32px;
          line-height: 32px;
          padding-left: 16px;
          display: flex;

          &:hover {
            .list-item-btns {
              display: flex;
            }
            .list-item-name {
              width: 96px;
              text-decoration: underline;
            }
          }

          .list-item-num {
            width: 35px;
            font-size: 16px;
            text-align: center;

            &.red {
              color: #c10d0c;
            }
          }

          .list-item-name {
            width: 170px;
            color: #000;
            padding-right: 2px;
            cursor: pointer;
          }

          .list-item-btns {
            display: none;
            width: 78px;
            align-items: center;

            .icon {
              font-size: 18px;
              color: #666;
              margin-right: 5px;
              cursor: pointer;
              transition: all 0.3s;

              &:hover {
                color: #333;
              }
            }
          }

          // 查看全部
          .look-all {
            cursor: pointer;
            text-align: right;
            width: 100%;
            padding-right: 20px;
            color: #000;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .up {
      flex: 1;
    }

    .new {
      flex: 1;
    }

    .origin {
      flex: 1;
    }
  }
}
