.My {
  height: 700px;

  .wrapper {
    height: 700px;
    background-color: #fff;
    overflow: hidden;

    .img {
      margin: 100px auto;
      width: 807px;
      height: 272px;

      background: url('~assets/img/mymusic.png') no-repeat;
    }
  }
}
