.Home {
  // height: 2000px;

  :global {
    // topBar
    .top-bar {
      .top-bar-top {
        height: 70px;
        background-color: #242424;
        border-bottom: 1px solid #000;

        .container {
          width: 1100px;
          margin: 0 auto;
          display: flex;
          height: 100%;

          .logo {
            width: 176px;
            height: 100%;
            cursor: pointer;
            background: url('~assets/img/sprite_01.png') 0 0 no-repeat;
          }

          .menu {
            display: flex;
            flex: 1;

            li {
              color: #ccc;
              font-size: 14px;
              padding: 0 19px;
              line-height: 69px;
              text-align: center;
              cursor: pointer;
              transition: all 0.3s;
              user-select: none;

              &:hover {
                color: #fff;
                background-color: #000;
              }

              &.active {
                color: #fff;
                position: relative;
                background-color: #000;

                &::after {
                  // 三角形
                  content: '';
                  display: block;
                  position: absolute;
                  bottom: -2px;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 0;
                  height: 0;
                  border-top: 7px solid transparent;
                  border-left: 6px solid transparent;
                  border-right: 6px solid transparent;
                  border-bottom: 7px solid #c20c0c;
                }
              }
            }
          }

          .search {
            width: 300px;
            height: 100%;
            display: flex;

            .input-wrapper {
              width: 160px;
              display: flex;
              justify-content: center;
              align-items: center;

              .input-outer {
                // width: 100%;
                height: 32px;
                background-color: #fff;
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 8px;
                position: relative;

                .icon {
                  font-size: 14px;
                  padding-right: 4px;
                }

                .input {
                  width: 115px;
                  border: none;
                  outline: none;
                }

                // 定位搜索建议列表
                .search-suggest-wrapper {
                  position: absolute;
                  left: 0;
                  top: 40px;
                  z-index: 120;
                  display: none;

                  .search-suggest-box {
                    width: 240px;
                    border: 1px solid #bebebe;
                    border-radius: 4px;
                    background: #fff;
                    box-shadow: 0 4px 7px #555;
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

                    .search-user {
                      height: 40px;
                      line-height: 39px;
                      padding: 0 10px;
                      border-bottom: 1px solid #e2e2e2;
                      color: #666;
                      cursor: pointer;

                      span:hover {
                        background-color: #e3e5e7;
                      }
                    }

                    //  单曲,歌手,专辑
                    .search-item {
                      display: flex;

                      .search-item-left {
                        padding: 10px 0 0 10px;
                        width: 62px;
                        display: flex;

                        .icon {
                          width: 14px;
                          height: 15px;
                          background: url('~assets/img/icon.png') no-repeat;
                          margin: 2px 4px 0 0;
                        }
                      }
                      .search-item-right {
                        border-left: 1px solid #e2e2e2;
                        border-bottom: 1px solid #e2e2e2;
                        width: 176px;
                        padding: 6px 0 5px;

                        .right-item {
                          width: 100%;
                          padding: 0 12px;
                          height: 24px;
                          line-height: 24px;
                          cursor: pointer;

                          span {
                            color: #0c73c2;
                          }

                          &:hover {
                            background-color: #e3e5e7;
                          }
                        }
                      }

                      &:last-child {
                        border-bottom: none;
                      }
                    }

                    // 单曲
                    .search-item.search-song {
                      .icon {
                        background-position: -35px -300px;
                      }
                    }

                    // 歌手
                    .search-item.search-artist {
                      .icon {
                        background-position: -50px -300px;
                      }
                    }

                    // 专辑
                    .search-item.search-album {
                      .icon {
                        background-position: -35px -320px;
                      }
                    }
                  }
                }
              }
            }

            .center {
              width: 90px;
              color: #ccc;
              display: flex;
              justify-content: center;
              align-items: center;

              .content-wrapper {
                width: 90px;
                height: 32px;
                border-radius: 16px;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
                border: 1px solid transparent;
                transition: all 0.3s;

                &:hover {
                  border: 1px solid #ccc;
                }
              }
            }

            .login {
              width: 50px;
              color: #787878;
              line-height: 69px;
              text-align: center;

              span {
                cursor: pointer;
              }
            }
          }
        }
      }

      .top-bar-bot {
        height: 5px;
        background-color: #c20c0c;
      }
    }
  }

  //
  .routeWrapper {
    min-height: 712px;
  }
}
