.RecordListItem {
  height: 38px;
  line-height: 38px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  position: relative;

  &:hover {
    background-color: #e6e6e6 !important;

    .plusBtn {
      display: block !important;
    }
  }

  .rank {
    width: 50px;
    text-align: right;
    font-size: 16px;
  }

  .playBtn {
    padding: 0 8px;
    font-size: 18px;
    cursor: pointer;
    color: #999;
    transition: all 0.3s;

    &:hover {
      color: #000;
    }
  }

  .songInfo {
    width: 500px;
    position: relative;

    .songName,
    .author {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .author {
      color: #aeaeae;
    }

    .plusBtn {
      display: none;
      position: absolute;
      right: 10px;
      top: 50%;
      transition: all 0.3s;
      transform: translateY(-50%);
    }
  }

  .count {
    position: relative;
    flex: 1;
    padding-left: 8px;

    .blueBar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: rgba($color: #4eb4f5, $alpha: 0.2);
    }
  }
}
