.NewDisk {
  // 标题
  .title {
    height: 35px;
    padding: 0 10px 0 34px;
    border-bottom: 2px solid #c10d0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('~assets/img/sprite_02.png') -225px -156px no-repeat;
    margin-bottom: 20px;

    .left {
      display: flex;
      align-items: center;

      :global {
        .key {
          font-size: 20px;
          padding-right: 15px;
          cursor: pointer;
        }
      }
    }

    .right {
      padding-right: 12px;
      cursor: pointer;
      background: url('~assets/img/sprite_02.png') 25px -238px no-repeat;
    }
  }

  // disk
  .disk {
    :global {
      .wrapper {
        margin: 20px 0 37px;
        border: 1px solid #d3d3d3;
        background-color: #f5f5f5;
        padding: 0 20px 8px;
        padding-top: 28px;

        .swiper {
          height: 150px;
          position: relative;

          .antd-carousel {
            height: 100%;

            .carousel-item {
              width: 645px;
              height: 150px;

              .swiper-wrapper {
                height: 100%;
                display: flex;
                overflow: hidden;

                .disk-item-wrapper {
                  padding-right: 15px;

                  &:last-child {
                    padding-right: 0px;
                  }
                }
              }
            }
          }

          // 箭头
          .arrow-left,
          .arrow-right {
            position: absolute;
            top: 36%;
            transform: translateY(-50%);
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
          }

          .arrow-left {
            left: -19px;
          }

          .arrow-right {
            right: -19px;
          }
        }
      }
    }
  }
}
